/*general-settings*/

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

img {max-width:100%; height:auto; display:block;}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav{
    background: #424242;
    height: 80px;
    width: 100%;
}

label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active,a:hover{
    background: #1b9bff;
    transition: .1s;
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

header{
    background: rgb(3, 81, 112);
    text-align: center;
    color: white;
    font-size: 40px;
}

.content{
    background: rgba(14, 70, 173, 0.788);
}

/*index-1.html-settings*/

h1{
    background: rgb(112, 16, 3);
    text-align: center;
    color: white;
    font-size: 40px;
}

.content1{
    background: rgb(73, 10, 10);
}

/*index-2.html-settings*/

h2{
    background: rgb(24, 95, 7);
    text-align: center;
    color: white;
    font-size: 40px;
}

.content2{
    background: rgb(32, 153, 21);
}

p{
    color: black;
    font-size: 20px;
    padding: 0 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    background: white;
    text-align: center;
}
/*responsive-settings*/

@media (max-width: 952px){
    label.logo{
        font-size: 15px;
        padding-left: 50px;
        text-align: center;
    }

    nav ul li a{
        font-size: 16px;
    }

    header{
        background: rgb(3, 81, 112);
        text-align: center;
        color: white;
        font-size: 20px;
    }

    h1{
        background: rgb(112, 16, 3);
        text-align: center;
        color: white;
        font-size: 20px;
    }

    h2{
        background: rgb(24, 95, 7);
        text-align: center;
        color: white;
        font-size: 20px;
    }

    .content{
        background: rgba(14, 70, 173, 0.788);
    }
    
    p{
        color: black;
        font-size: 16px;
        padding: 0 25px;
        margin-top: 15px;
        margin-bottom: 15px;
        background: white;
        text-align: center;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }

    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .1s;
    }

    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a{
        font-size: 20px;
    }

    a:hover,a.active{
        background: none;
        color: #0082e6;
    }

    #check:checked ~ ul{
        left: 0;
    }

    header{
        background: rgb(3, 81, 112);
        text-align: center;
        color: white;
        font-size: 20px;
    }

    h1{
        background: rgb(112, 16, 3);
        text-align: center;
        color: white;
        font-size: 20px;
    }

    h2{
        background: rgb(24, 95, 7);
        text-align: center;
        color: white;
        font-size: 20px;
    }

    .content{
        background: rgba(14, 70, 173, 0.788);
    }
    
    p{
        color: black;
        font-size: 16px;
        padding: 0 25px;
        margin-top: 15px;
        margin-bottom: 15px;
        background: white;
        text-align: center;
    }
}
