.blue{
    background-color: navy;
}

.green{
    background-color: rgb(45, 66, 82);
}

.yellow{
    background-color: rgb(34, 99, 111);
}

.red{
    background-color: rgb(16, 37, 54);
}

.black{
    background-color: rgb(6, 6, 6);
}

.gray{
    background-color: rgb(118, 117, 117);
}





body{
    padding: 0;
    margin: 0;
}

nav{
    position: fixed;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100px;
    background-color: rgb(59, 160, 248);
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    padding: 0 5%;
}

nav .logo{
    float: left;
    width: auto;
    color: white;
    text-align: center;
    margin-top: 30px;
    font-size: 30px;
}

nav .links{
    float: right;
    padding: 0;
    margin: 0;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .links li{
    list-style: none;
}

nav .links a{
    display: block;
    padding: 1em;
    font-size: 17px;
    color: white;
    text-decoration: none;
}

#nav-toggle {
    position: absolute;
    top: -100px;
}

nav .icon-burger{
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}

nav .icon-burger .line{
    width: 30px;
    height: 5px;
    background-color: #fff;
    margin: 5px;
    border-radius: 3px;
}

h1{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    font-size: 40px;
    height: 40px;
    margin-top: 200px;
    color: white;
}

.slideshow{
    width: 100%;
    height: 500px;
    background-color: rgb(50, 103, 164);
}

.about{
    width: 100%;
    height: 200px;
    background-color: rgb(17, 58, 94);
    margin-top: 20px;
}

h2{
    text-align: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    padding-top: 40px;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 25px;
    padding: 5px;
}

.grid-item{
    min-height: 200px;
    border-radius: 10px;
    margin-top: 20px;
}

footer{
    width: 100%;
    height:60px;
    background-color: rgb(59, 160, 248);
    margin-top: 60px;
}

/*About-page*/

.grid-container1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0;
    padding: 5px;
}

.grid-item1{
    min-height: 400px;
    border-radius: 10px;
    margin-top: 150px;
}

h3{
    text-align: center;
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
}

p{
    text-align: left;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px 40px;
}


/*Menu-page*/
h4{
    display: block;
    height: 0px;
    text-align: center;
    color: black;
    font-size: 80px;
    margin-top: 200px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
}
.grid-container2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(2, 1fr 1fr);
    gap: 0;
    padding: 5px;
    padding-top: 120px;
}

.grid-item2{
    min-height: 400px;
    border-radius: 10px;
}

/*contact-page*/

h5{
    display: block;
    height: 0px;
    text-align: center;
    color: black;
    font-size: 40px;
    margin-top: 200px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter; 
}

.grid-container3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 1fr 1fr 1fr);
    gap: 3px;
    padding: 15px;
    padding-top: 80px;
}

.grid-item3 {
    min-height: 200px;
}

.grid-item3:nth-child(1){
    grid-column: 1 / span 2;
    grid-row: 1 / span 4;
    border-radius: 15px;
    
}

.grid-item3:nth-child(2){
    grid-column: 3 / span 2;
    grid-row: 1 / span 2;
    border-radius: 15px;
}

.grid-item3:nth-child(3){
    grid-column:  4 / span 2;
    grid-row: 2 / span 1;
    border-radius: 15px;
    background: url(../images/kratos.jpg);
    background-size: cover;
    background-position: center;
}

.grid-item3:nth-child(4){
    grid-column: 3 / span 2;
    grid-row: 3 / span 1;
    border-radius: 15px;
}
.grid-item3:nth-child(5){
    grid-column: 3 / span 3;
    border-radius: 15px;
}

@media screen and (max-width: 768px) {
    nav .logo{
        float: none;
        width: auto;
        justify-content: center;
    }
    
    nav .links{
        float: none;
        position: fixed;
        z-index: 9;
        left: 0;
        right: 0;
        background-color: rgba(0,0,0,.8);
        top: 100px;
        bottom: 100%;
        flex-direction: column;
        width: auto;
        height: auto;
        overflow: hidden;
        transition: all .5s ease-in-out;
    }

    nav .links a{
        font-size: 20px;
    }

    nav .icon-burger{
        display: block;
    }

    nav :checked ~ .links{
        bottom: 0;

    }

    /*slideshow*/

    .slideshow{
        width: 100%;
        height: 350px;
        background-color: rgb(50, 103, 164);
    }

    /*about-section*/

    .about{
        width: 100%;
        height: 200px;
        background-color: rgb(17, 58, 94);
        margin-top: 20px;
    }
    
    h2{
        text-align: center;
        color: white;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: lighter;
        padding-top: 40px;
    }

    .grid-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
        padding: 5px;
    }
    
    .grid-item{
        min-height: 200px;
        border-radius: 10px;
        margin-top: 20px;
    
    }

    footer{
        width: 100%;
        height:60px;
        background-color: rgb(59, 160, 248);
        margin-top: 60px;
    }

    /*About-page*/

.grid-container1{
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
    padding: 0px;
    padding-top: 120px;
}

.grid-item1{
    min-height: 250px;
    border-radius: 10px;
    margin-top: 0px;
}

h3{
    text-align: center;
    font-size: 28px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
}

p{
    text-align: left;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px 40px;
}

/*Menu-page*/

h4{
    display: block;
    height: 0px;
    text-align: center;
    color: black;
    font-size: 40px;
    margin-top: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    padding-top: 90px;
}
.grid-container2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr 1fr);
    gap: 0;
    padding: 5px;
    padding-top: 40px;
}

.grid-item2{
    min-height: 200px;
    border-radius: 10px;
}

/*contact-page*/

h5{
    display: block;
    height: 0px;
    text-align: center;
    color: black;
    font-size: 20px;
    margin-top: 200px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter; 
}

.grid-container3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(10, 1fr 1fr 1fr 1fr 1fr 1fr);
    gap: 0px;
    padding-top: 80px;
}

.grid-item3 {
    min-height: 100px;
}

.grid-item3:nth-child(1){
    grid-column: 1 / span 4;
    grid-row: 1 / span 2;
    border-radius: 15px;
    
}

.grid-item3:nth-child(2){
    grid-column: 1 / span 4;
    grid-row: 3 / span 2;
    border-radius: 15px;
}

.grid-item3:nth-child(3){
    grid-column:  1 / span 4;
    grid-row: 4 / span 2;
    border-radius: 15px;
    background-size: cover;
    background-position: center;
}

.grid-item3:nth-child(4){
    grid-column: 1 / span 4;
    grid-row: 5 / span 2;
    border-radius: 15px;
}
.grid-item3:nth-child(5){
    grid-column: 1 / span 4;
    grid-row: 7 / span 8;
    border-radius: 15px;
}
    
}
    

