

body{
    padding: 0;
    margin: 0;
    background-color: #d5f3f8;
    

}

/*Nav-settings*/

nav{
    position: fixed;
    font-family: 'Quicksand', sans-serif;
    height: 100px;
    background-color: #39afc4;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    padding: 0 5%;
}

nav .logo{
    float: left;
    width: auto;
    color: white;
    text-align: center;
    margin-top: 30px;
    font-size: 30px;
    font-family: 'Quicksand', sans-serif;
}

nav .links{
    float: right;
    padding: 0;
    margin: 0;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .links li{
    list-style: none;
}

nav .links a{
    display: block;
    padding: 1em;
    font-size: 27px;
    color: #fdfcfc;
    text-decoration: none;
    font-weight: bolder;
}

#nav-toggle {
    position: absolute;
    top: -100px;
}

nav .icon-burger{
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}

nav .icon-burger .line{
    width: 30px;
    height: 5px;
    background-color: #fffefd;
    margin: 5px;
    border-radius: 3px;
}

/*Nav-settings-end*/

/*Landing-page-settings(for desktop)*/

h1{
    text-align:left;
    color: #050505;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: regular;
    padding-top: 20px;
    font-size: 90px;
    margin-left: 20px;
    text-transform: capitalize;
}

.slideshow{
    width: 100%;
    height: 1000px;
    max-height: 1200px;
    background-size: cover;
    background-position: center;
    margin-top: 10px;
    text-align: center;
    padding-top: 0px;
    margin-bottom: 100px;
    background-image: url(../Final-project-design-review/dog1.jpg);
    padding-top: 40px;
    border-radius: 40px;
}

.last{
    height: 200px;
    position: relative;
    padding: 80px;
    margin-bottom: 10px;
}

.don-btn{
    width: 400px;
    height: 150px;
    cursor: pointer;
    text-align: center;
    border-radius: 30px;
    color: white;
    background-color: rgb(54, 127, 156);
    position: absolute;
    top: 25%;
    left: 35%;
    border: 5px solid rgb(252, 253, 253);
    border-radius: 150px;
    margin-bottom: 10px;
 }


.slideshow img{
    width: 100%;
    height: 00px;
}

h80{
    font-size: 40px;
    text-transform: capitalize;
}

h8{
    color: rgb(54, 127, 156);
    font-size: 80px;
    text-align: left;
    margin-top: 80px;
    font-family: 'montserrat', sans-serif;
    text-shadow: 2px 2px white;;

}

.about{
    width: 100%;
    height: 250px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.about p{
    color: rgb(54, 127, 156);
    text-align: left;
    font-weight: lighter;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 77px;
    margin-top: 70px;
    text-align: center;
}


.boxread {
    width: 100%;
    height: 200px;
    margin-bottom: 70px;
    border-radius: 20px;
    box-shadow: 0 0 1rem rgba(0,0,0,.1);
}
.boxread p{
    margin-left: auto;
    font-size: 22px;
    background-color: rgb(54, 127, 156);
    border-radius: 20px;

}

.read-more-btn{
    cursor: pointer;
    color: white;
    
}

#more{
    display: none;
}

.boxread button{
    margin-left: 40px;
        background-color: #d5f3f8;
        border: 5px solid white;
        margin-top: 20px;
}

.boxread p .show-more .moreText{
    display: inline;
}

.box-opt{

    width: 100%;
    height: 150px;
    background-color: rgb(54, 127, 156);
    margin-top: 20px;
    border-radius: 30px;
}

.button .text{
    float: right;
}



h19{
    color: rgb(255, 254, 254);
    text-transform: capitalize;
    padding: 20px;
    margin-top: 10px;
    font-size: 25px;
    font-family: 'Quicksand', sans-serif;
}

h7{
    color: rgb(255, 254, 254);
    text-transform: capitalize;
    padding: 80px 20px;
    margin-top: 10px;
    font-size: 45px;
    font-family: 'Quicksand', sans-serif;
}

h40{
    color: rgb(54, 127, 156);
    text-transform: capitalize;
    padding: 80px 20px;
    margin-top: 10px;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
}

h41{
    color: rgb(54, 127, 156);
    text-transform: capitalize;
    padding: 80px 0px;
    margin-top: 10px;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
}

.box-opt p{
    font-size: 24px;
}

.trio-container{
    width: 100%;
    height: 1100px;
    position: relative;
}

.boxTrio{
    width: 200px;
    height: 500px;
    float: left;
    margin: 20px 90px;
    top: 50%;
    left: 50%;
    border-radius: 40px;

}

.boxTrio img{
    border-radius: 20px;
}

.container-box{
    width: 100%;
    height: 400px;
}

.text2{
    font-size: 20px;
    color: rgb(54, 127, 156);
    font-weight: bolder;
}

footer{
    width: 100%;
    height:60px;
    background-color: #39afc4;
    margin-top: 60px;
    text-align: center;
    float: left;
}

.icon img{
    width:30px;
    text-align: center;
    padding-top: 10px;
    text-align: center;
}

.icon img a{
    cursor: pointer;
}


.icon img a:hover{
    color: #073A59;
}

/*Landing-page-settings-end(for desktop)*/

/*About-page-settings(for desktop)*/

h2{
    width: 100%;
    height: 150px;
    margin-top: 100px;
    color: #030303;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 40px;
    font-size: 90px;
    margin-left: 20px;
    text-align: center;
}

.about1{
    width: 100%;
    height: 600px;
    margin-top: -90px;
    margin-bottom: 590px;
}

.about1 img{
    width: 100%;
}

.aboutbox{
    width: 100%;
    height: 350px;
    padding-top:30px;
}
.aboutbox p{
    height: auto;
    font-size: 40px;
    background-color: rgb(54, 127, 156);
    border-radius: 20px;
}

.boxread1 {
    width: 100%;
    margin-bottom: 70px;
    margin-left: 0px;
    height: 350px;
    padding-top:30px;
}
.boxread1 p{
    color: rgb(253, 253, 253);
    
    font-size: 40px;
    background-color: rgb(54, 127, 156);
    border-radius: 30px;
}

.boxread1 button{
    margin-left: 10px;
}

.rev-box{
    width: 720px;
    max-width: 100%;
    height: 500px;
    float: left;
    background-color: black;
    margin: 20px 40px;
    border-radius: 20px;
    margin-bottom: 800px;

}

.rev-box img{
    width: 100%;
    border-radius: 20px;
}

.contain1{
    margin-top: 1400px;
}

h22{
    width: 100%;
    margin-top: 90px;
    color: #050505;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 60px;
    margin-left: 20px;
    margin-bottom: 40px;
}

.boxread15 {
    width: 100%;
    height: 200px;
    margin-bottom: 0px;
}
.boxread15 p{
    color: rgb(54, 127, 156);
    margin-left: 0px;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
}

.boxread16 {
    width: 100%;
    height: 200px;
    margin-bottom: 0px;
    padding-top: 80px;
}
.boxread16 p{
    color: rgb(54, 127, 156);
    margin-left: -30px;
    font-size: 30px;
    margin-left: 10px;
}

.boxread16 h40{
    color: rgb(0, 0, 0);
    font-size: 25px;
}

h40{
    font-size: 25px;
}

#myBtn{
    margin-left: 40px;
        background-color: rgb(54, 127, 156);
        border: 5px solid white;
        margin-top: 20px;
        color: white;
        height: 80px;
        width: 160px;
        font-size: 20px;
        border-radius: 150px;
}


/*About-page-settings-end(for desktop)*/

/*Get Involved-page-settings(for desktop)*/


h3{
    width: 100%;
    height: 150px;
    margin-top: 100px;
    color: #020202;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 40px;
    font-size: 90px;
    text-shadow: 2px 2px rgb(54, 127, 156);
    margin-left: 20px;
    text-align: center;
    margin-bottom: 200px;
}

.gtext{
    color: rgb(54, 127, 156);
    margin-left: 0px;
    font-size: 45px;
    margin-top: -60px;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.about2{
    width: 100%;
    height: 250px;
    background-color: rgb(54, 127, 156);
    margin-top: 10px;
}

.about2 p{
    color: rgb(252, 250, 250);
    font-size: 35px;
}

.about2 button{
    font-size: 16px;
    float: right;
    margin-right: 20px;
}

h20{
    color: rgb(253, 253, 253);
    text-transform: capitalize;
    padding: 20px;
    margin-top: 10px;
    font-size: 65px;
    font-family: 'montserrat', sans-serif;
    font-weight: bolder;
}


.boxread2 {
    width: 100%;
    height: 200px;
    border-radius: 20px;
    margin-bottom: 1080px;
}
.boxread2 p{
    color: rgb(255, 254, 254);
    margin-left: -30px;
    font-size: 90px;

}

.boxread2 img{
    width: 100%;
}

.boxread2 button{
    margin-left: 10px;
}

.rev-box1{
    width: 100%;
    height: 600px;
    background-color: rgb(54, 127, 156);
    margin-top: 200px;
}

/*Get Involved-page-settings-end(for desktop)*/

/*Contact-page-settings(for desktop)*/

.about3{
    width: 100%;
    max-width: 4000px;
    height: 450px;
    margin-top: -110px;
    margin-bottom: 460px;
}

.about3 p{
    color: rgb(253, 251, 251);
    font-size: 30px;
    font-family: 'Quicksand', sans-serif;
}

.about3 img{
    width: 100%;
}

/*Contact-page-settings-end(for desktop)*/

.overlay1{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    top: 50%;
    left: 5%;
    position: absolute;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    display: block;
    background-color: black;
}



h30{
    text-align:left;
    color: #020202;
    font-family: 'Quicksand', sans-serif;
    font-weight: lighter;
    padding-top: 20px;
    font-size: 25px;
    margin-left: 20px;
    margin-top: 50px;
    text-transform: capitalize;

}

h21{
    text-align:left;
    color: #020202;
    font-family: 'Quicksand', sans-serif;
    font-weight: lighter;
    padding-top: 0px;
    font-size: 45px;
    margin-left: 20px;
    margin-top: 0px;
    text-transform: capitalize;
}


.about4{
    width: 100%;
    height: 450px;
    background-color: rgb(5, 5, 5);
    margin-top: -110px;
}



.about2 h7{
    font-size: 25px;
    margin-top: 40px;
    font-family: 'Quicksand', sans-serif;;
}



.about2 button{
    font-size: 16px;
}


p{
    text-align: left;
    font-size: 80px;
    font-family: 'Quicksand', sans-serif;
    padding: 20px 40px;
    color: white;
    font-weight: normal;
}



.overlay2{
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 100% ease-in-out;
    background: black;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 356px;
    padding-top:80px;
}


.wrapper{
    width: auto;
    margin: 200px 10%;
}

/*donation-page-settings(for desktop)*/

.wrapper1{
    background-color: rgb(54, 127, 156);
    width: 500px;
    padding: 5px;
    margin: 15px auto 40px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
    border-radius: 10px;
}

.wrapper1 h2{
    color: white;
    font-size: 24px;
    padding: 0px 0px 0px;
    margin-bottom: -20px;
    text-align: center;
    
    
}

.wrapper1 h44{
    padding-bottom: 5px;
    color: white;
}

.input-group{
    margin-bottom: 8px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 5px 0;
}

.input-box{
    width: 100%;
    margin-right: 12px;
    position: relative;
}

.input-box:last-child{
    margin-right: 0;
}

.input-box .name{
    padding: 14px 0px 14px 0px;
    width: 100%;
    background-color: white;
    border: 1px solid gray;
    outline: none;
    letter-spacing: 1px;
    transition: 0.3s;
    border-radius: 3px;
    color: darkgray;
}

.input-box .name:focus{
    -webkit-box-shadow: 0 0 2px 1px rgb(54, 127, 156);
    -moz-box-shadow: 0 0 2px 1px rgb(54, 127, 156);
    box-shadow: 0 0 2px 1px rgb(54, 127, 156);
    border: 1px solid rgb(54, 127, 156);
}

.name:focus{
    background-color: rgb(144, 197, 218);
    color: white;
    border: 1px solid rgb(144, 197, 218);
    border: none;
    transition: 1s;
}

.radio{
    display: none;
}

.input-box button{
    width: 100%;
    background-color: white;
    color: rgb(54, 127, 156);
    border-radius: 10px;
    transition: all 0.3s ease;
}

.input-box button:hover{
    cursor: pointer;
    background-color: rgb(20, 60, 78);
}

/*thank-you-pop-up*/



@media screen and (max-width: 768px) {
    nav .logo{
        float: none;
        width: auto;
        justify-content: center;
        font-family: 'Quicksand', sans-serif;
    }

    .logo{
        font-family: 'Quicksand', sans-serif;
    }
    
    nav .links{
        float: none;
        position: fixed;
        z-index: 9;
        left: 0;
        right: 0;
        background-color: black;
        top: 100px;
        bottom: 100%;
        flex-direction: column;
        width: auto;
        height: auto;
        overflow: hidden;
        transition: all .5s ease-in-out;
    }

    nav .links a{
        font-size: 20px;
    }

    nav .icon-burger{
        display: block;
    }

    nav :checked ~ .links{
        bottom: 0;

    }

    /*Landing-page-settings(mobile settings)*/

    h1{
    text-align: center;
    color: #030303;
    font-family: 'Montserrat', sans-serif;
    font-weight:normal;
    padding-top: 20px;
    font-size: 55px;
    margin-left:  0px;
    text-transform: capitalize;
    }


    .slideshow{
    width: 100%;
    height: 350px;
    background-size: cover;
    background-position: center;
    margin-top: 10px;
    text-align: center;
    padding-top: 0px;
    margin-bottom: 30px;
    background-image: url(../Final-project-design-review/dog1.jpg);
    padding-top: 40px;
    box-shadow: 2px 5px rgba(0,0,0,0.5);
    border-radius: 15px;
    }

    .slideshow img{
        width: 100%;
        height: 500px;
    }

    .about{
        width: 100%;
        height: 250px;
        margin-top: 40%;
        margin-bottom: 120px;
        position: relative;
    }
    
    .about p{
        color: rgb(54, 127, 156);
        text-align: center;
        font-weight: lighter;
        font-family: 'Montserrat', sans-serif;
        font-weight: normal;
        font-size: 45px;
        margin: auto;
        top: 50%;
        left: 50%;
    }

    .last{
        height: 200px;
        position: relative;
        padding: 80px;
        margin-bottom: 10px;
    }

    .don-btn{
        width: 200px;
        height: 90px;
        cursor: pointer;
        text-align: center;
        border-radius: 30px;
        color: white;
        background-color: rgb(54, 127, 156);
        position: absolute;
        top: 25%;
        left: 25%;
        border: 5px solid rgb(252, 253, 253);
        margin-bottom: 10px;
     }

     h80{
         text-transform: capitalize;
         font: bolder;
         font-size: 40px;
     }

    h8{
        color: rgb(54, 127, 156);
        font-size: 45px;
        text-align: left;
        margin-top: 80px;
        font-family: 'montserrat', sans-serif;
        font-weight: bolder;
        text-shadow: 2px 2px white;
    
    }

    .boxread {
        width: 100%;
        height: 200px;
        background-color: rgb(54, 127, 156);
        margin-bottom: 170px;
        border: 15px;
    }

    .moreText{
        display: none;
    }

    .read-more-btn{
        cursor: pointer;
    }
    

    .boxread p{
        margin-left: auto;
        font-size: 16px;
        margin-bottom: auto;
        border-radius: 10px;
    
    }
    
    .boxread button{
        margin-left: 40px;
        background-color: #d5f3f8;
        border: 5px solid white;
        margin-top: 20px;
    }

    .box-opt{

        width: 100%;
        height: 150px;
        background-color: rgb(54, 127, 156);
        margin-top: 20px;
        border-radius: 30px;
    }

    .box-opt p{
        font-size: 14px;
    }
    
    .button .text{
        float: right;
        margin-right: 60px;
    }

    .boxTrio{
        width: 100%;
        height: 500px;
        margin: auto;
        border-radius: 30px;
        margin-top: 185px;
    }

    img{
        width: 100%;
        border-radius: 30px;
    }

    h19{
        color: rgb(253, 253, 253);
        text-transform: capitalize;
        padding: 20px;
        margin-top: 10px;
        font-size: 15px;
    }

    .contain{
        width: 100%;
        height:auto;
        padding-top: 3050px;
    }

    .contain h1{
        margin-top: 40px;
    }


    footer{
        width: 100%;
        height:60px;
        background-color: #39afc4;
        margin-top: 200px;
    }
    /*Landing-page-settings-end(for mobile)*/

    /*About-page-settings(for mobile)*/

    h2{
        width: 100%;
        height: 150px;
        margin-top: 100px;
        color: black;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        padding-top: 40px;
        font-size: 60px;
        margin-left: 20px;
    }

    .about1{
        width: 100%;
        height: 600px;
        margin-top: -90px;
        border-radius: 30px;
    }

    .aboutbox{
        width: 100%;
        height: 420px;
        margin-top: -390px;
        border-radius: 30px;
        margin-bottom: auto;
    }
    .aboutbox p{
        font-size: 18px;
        background-color: rgb(54, 127, 156);
    }

    .boxread1 {
        width: 100%;
        height: 600px;
        margin-top: -60px;
        border-radius: 30px;

    }
    .boxread1 p{
        color: rgb(253, 253, 253);
        margin: auto;
        font-size: 25px;
    }
    
    .boxread1 button{
        margin-left: 40px;
        background-color: #d5f3f8;
        border: 5px solid white;
        margin-top: 20px;
    }

    .rev-box{
        width: 100%;
        height: 500px;
        float: left;
        background-color: black;
        margin: auto;
        margin-top: 10px;
        border-radius: 20px;
    
    }
    
    .rev-box img{
        width: 100%;
        border-radius: 20px;
    }

    h22{
        width: 100%;
        margin-top: 9px;
        color: #fffefd;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 60px;
        text-shadow: 2px 2px rgb(54, 127, 156);
        margin-left: 20px;
        margin-bottom: 40px;
    }
    
    .boxread15 {
        width: 100%;
        height: 200px;
        margin-bottom: 0px;
    }
    .boxread15 p{
        color: rgb(54, 127, 156);
        margin-left: -30px;
        font-size: 30px;
        margin-top: 1900px;
    }

    .contain1{
        width: 100%;
        height:300px;
        padding-top: 300px;
    }

    #myBtn{
        margin-left: 40px;
        background-color: rgb(54, 127, 156);
        border: 5px solid white;
        margin-top: 20px;
        margin-bottom: 90px;
    }

    /*About-page-settings-end(for mobile)*/
    
    /*Get Involved-page-settings(for mobile)*/

    h3{
        width: 100%;
    height: 150px;
    margin-top: 100px;
    color: #020202;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 40px;
    font-size: 60px;
    text-shadow: 2px 2px rgb(54, 127, 156);
    margin-left: 20px;
    }

    .gtext{
        color: rgb(54, 127, 156);
        margin-left: 0px;
        font-size: 25px;
        margin-top: 20px;
    }
    

    .about2{
        width: 100%;
        height: 250px;
        background-color: rgb(54, 127, 156);
        margin-top: 10px;
    }
    
    .about2 p{
        color: rgb(252, 250, 250);
        font-size: 15px;
    }
    
    .about2 button{
        font-size: 14px;
        float: right;
        margin-right: 0px;
       
    }
    
    h20{
        color: rgb(253, 253, 253);
        text-transform: capitalize;
        padding: 20px;
        margin-top: 10px;
        font-size: 35px;
        font-family: 'Quicksand', sans-serif;
        font-weight: bolder;
    }
    
    .boxread2 {
        width: 100%;
        height: 200px;
        border-radius: 20px;
        margin-bottom: 0px;
        margin-top: 200px;
    }
    .boxread2 p{
        color: rgb(255, 254, 254);
        margin-left: -30px;
        font-size: 20px;
    
    }
    
    .boxread2 button{
        margin-left: 10px;
    }
    
    .rev-box1{
        width: 100%;
        height: 600px;
        background-color: rgb(54, 127, 156);
        margin-top: 200px;
    }

    /*Get Involved-page-settings-end(for mobile)*/

    /*Contact-page-settings(for mobile)*/


    .about3{
        width: 100%;
        height: 150px;
        margin-top: 180px;
    }
    
    .about3 p{
        color: rgb(253, 251, 251);
        font-size: 30px;
        font-family: 'Quicksand', sans-serif;
    }

    .about3 img{
        width: 100%;
    }

    /*Contact-page-settings-end(for mobile)*/

    /*donation-page-settings(for desktop)*/

.wrapper1{
    background-color: rgb(54, 127, 156);
    width: 100%;
    padding: 0px 40px 0px 40px;
    border-radius: 10px;
}

.wrapper1 h2{
    color: white;
    font-size: 20px;
    margin-bottom: -0px;
    text-align: center;
}

.wrapper1 h44{
    padding-bottom: 5px;
    color: white;
    margin: auto;
}

.input-group{
    margin-bottom: 8px;
    width: 100%;
    position: relative;
    
    padding: 5px 0;
}

.input-box{
    width: 100%;
    margin-right: 0px;
    position: relative;
}

.input-box:last-child{
    margin-right: 0;
}

.input-box .name{
    padding: 14px 0px 14px 0px;
    width: 100%;
    background-color: white;
    border: 1px solid gray;
    outline: none;
    letter-spacing: 1px;
    transition: 0.3s;
    border-radius: 3px;
    color: darkgray;
}

.input-box .name:focus{
    -webkit-box-shadow: 0 0 2px 1px rgb(54, 127, 156);
    -moz-box-shadow: 0 0 2px 1px rgb(54, 127, 156);
    box-shadow: 0 0 2px 1px rgb(54, 127, 156);
    border: 1px solid rgb(54, 127, 156);
}

.name:focus{
    background-color: rgb(144, 197, 218);
    color: white;
    border: 1px solid rgb(144, 197, 218);
    border: none;
    transition: 1s;
}

.radio{
    display: none;
}

.input-box button{
    width: 100%;
    background-color: white;
    color: rgb(54, 127, 156);
    border-radius: 10px;
    transition: all 0.3s ease;
}

.input-box button:hover{
    cursor: pointer;
    background-color: rgb(20, 60, 78);
}


    
    h10{
        color: white;
        font-size: 40px;
        text-align: center;
        font-family: 'Quicksand', sans-serif;
    }

    h21{
        text-align:left;
        color: #020202;
        font-family: 'Quicksand', sans-serif;
        font-weight: lighter;
        padding-top: 20px;
        font-size: 35px;
        margin-left: 20px;
        margin-top: 50px;
        text-transform: capitalize;
    }


    /*about-section*/

    
    

    h02 {
         
        text-align:left;
        color: #020202;
        font-family: 'Quicksand', sans-serif;
        font-weight: lighter;
        padding-top: 20px;
        font-size: 25px;
        margin-left: 20px;
        text-transform: capitalize;
    
    }

    h30{
        text-align:left;
        color: #020202;
        font-family: 'Quicksand', sans-serif;
        font-weight: lighter;
        padding-top: 20px;
        font-size: 25px;
        margin-left: 20px;
        margin-top: 40px;
        text-transform: capitalize;

    }

    .overlay{
        position:absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        transition: opacity 100% ease-in;
        background: black;
        color: white;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 248px;
        padding-top:40px;
    }

    /*About-page*/


p{
    text-align: left;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    padding: 20px 40px;
    color: white;
    font-weight: lighter;
}

/*Menu-page*/



.overlay2{
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 100% ease-in;
    background: black;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 214px;
    padding-top:40px;
}

h11{
    padding-top: 30px;
    top:50%;
    left:50%;
    color: white;
    background-color: none;
    transition: opacity(100);
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;

}

h11 a{
    color: white;
}
h11 a:link {
    color:black;
    text-decoration:none;
    background-color: transparent; 
    margin-top:5px; 
    margin-left:auto;
}
h11 a:hover {
    color:#C69C6D;
    text-decoration:none;
}

/*contact-page*/


.about4{
    width: 100%;
    height: 450px;
    background-color: rgb(5, 5, 5);
    margin-top: -110px;
}

/*menu-option-page*/

.wrapper{
    width: auto;
    margin: 200px 3%;
}

}
    

