

body{
    padding: 0;
    margin: 0;
    background-color: rgb(249, 250, 252);

}

/*Nav-settings*/

nav{
    position: fixed;
    font-family: 'Quicksand', sans-serif;
    height: 100px;
    background-color: #39afc4;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    padding: 0 5%;
}

nav .logo{
    float: left;
    width: auto;
    color: white;
    text-align: center;
    margin-top: 30px;
    font-size: 30px;
    font-family: 'Quicksand', sans-serif;
}

nav .links{
    float: right;
    padding: 0;
    margin: 0;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .links li{
    list-style: none;
}

nav .links a{
    display: block;
    padding: 1em;
    font-size: 17px;
    color: #fdfcfc;
    text-decoration: none;
}

#nav-toggle {
    position: absolute;
    top: -100px;
}

nav .icon-burger{
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}

nav .icon-burger .line{
    width: 30px;
    height: 5px;
    background-color: #fffefd;
    margin: 5px;
    border-radius: 3px;
}

h1{
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: lighter;
    font-size: 40px;
    height: 40px;
    margin-top: 200px;
    color: #BF9663;
}

.slideshow{
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
    margin-top: 30px;
    text-align: center;
    padding-top: 40px;
    background-color: black;
    
}

.slideshow1{
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
    margin-top: 30px;
    text-align: center;
    padding-top: 40px;
    
}

.boxread {
    width: 100%;
    height: 200px;
    background-color: black;
    margin-bottom: 70px;
}
.boxread p{
    margin-left: auto;
    font-size: 20px;

}

.boxread button{
    margin-left: 40px;
}



.overlay1{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    top: 50%;
    left: 5%;
    position: absolute;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    display: block;
    background-color: black;
}



h30{
    text-align:left;
    color: #020202;
    font-family: 'Quicksand', sans-serif;
    font-weight: lighter;
    padding-top: 20px;
    font-size: 25px;
    margin-left: 20px;
    margin-top: 50px;
    text-transform: capitalize;

}

h21{
    text-align:left;
    color: #020202;
    font-family: 'Quicksand', sans-serif;
    font-weight: lighter;
    padding-top: 0px;
    font-size: 45px;
    margin-left: 20px;
    margin-top: 0px;
    text-transform: capitalize;
}

.box-opt{

    width: 100%;
    height: 50px;
    background-color: rgb(27, 35, 39);
    margin-top: 20px;

}

h19{
    color: rgb(255, 254, 254);
    text-transform: capitalize;
    padding: 20px;
    margin-top: 10px;
    font-size: 25px;
    font-family: 'Quicksand', sans-serif;
}

h20{
    color: rgb(253, 253, 253);
    text-transform: capitalize;
    padding: 20px;
    margin-top: 10px;
    font-size: 35px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

.about{
    width: 100%;
    height: 250px;
    margin-top: 60px;
    margin-bottom: 100px;
}

.about p{
    color: black;
    text-align: left;
    font-weight: lighter;
    font-family: 'Quicksand', sans-serif;
    font-weight: normal;
    font-size: 27px;
    margin-top: 70px;
    
    
}

/*home-settings-end*/

.about1{
    width: 100%;
    height: 250px;
    margin-top: -90px;
    background-color: rgb(5, 5, 5);
}

.about2{
    width: 100%;
    height: 250px;
    background-color: rgb(0, 0, 0);
    margin-top: 10px;
}

.about2 p{
    color: rgb(252, 250, 250);
    font-size: 20px;
}

.about3{
    width: 100%;
    height: 250px;
    background-color: rgb(2, 2, 2);
    margin-top: -110px;
}

.about3 p{
    color: rgb(253, 251, 251);
    font-size: 30px;
    font-family: 'Quicksand', sans-serif;
}

.about4{
    width: 100%;
    height: 450px;
    background-color: rgb(5, 5, 5);
    margin-top: -110px;
}


h2{
    text-align:left;
    color: #020202;
    font-family: 'Quicksand', sans-serif;
    font-weight: lighter;
    padding-top: 20px;
    font-size: 60px;
    margin-left: 20px;
    text-transform: capitalize;
}

h3{
    width: 100%;
    height: 150px;
    margin-top: 100px;
    color: black;
    font-family: 'Quicksand', sans-serif;
    padding-top: 40px;
    font-size: 60px;
}

h5{
    width: 100%;
    height: 150px;
    margin-top: 100px;
    color: black;
    font-family: 'Quicksand', sans-serif;
    padding-top: 40px;
    font-size: 60px;
    margin-left:20px;
}

h5 p{
    color: black;
    margin-left: -30px;
    font-size: 20px;
}

h6{
    font-family: 'Quicksand',sans-serif;
    font-size: 30px;
}

.boxread1 {
    width: 100%;
    height: 200px;
    background-color: rgb(0, 0, 0);
    margin-bottom: 70px;
}
.boxread1 p{
    color: rgb(255, 254, 254);
    margin-left: -30px;
    font-size: 20px;

}

.boxread1 button{
    margin-left: 10px;
}

.boxread2 {
    width: 100%;
    height: 200px;
    background-color: rgb(2, 2, 2);
    margin-bottom: 70px;
}
.boxread2 p{
    color: rgb(255, 254, 254);
    margin-left: -30px;
    font-size: 20px;

}

.boxread2 button{
    margin-left: 10px;
}


.rev-box{
    width: 100%;
    height: 600px;
    background-color: rgb(2, 2, 2);
}

.rev-box1{
    width: 100%;
    height: 600px;
    background-color: rgb(0, 0, 0);
}

.about2 h7{
    font-size: 25px;
    margin-top: 40px;
    font-family: 'Quicksand', sans-serif;;
}

.about2 p{
    color: rgb(253, 252, 252);
    font-size: 20px;
}

.about2 button{
    font-size: 16px;
}





footer{
    width: 100%;
    height:60px;
    background-color: #39afc4;
    margin-top: 60px;
    text-align: center;
    float: left;
}



p{
    text-align: left;
    font-size: 80px;
    font-family: 'Quicksand', sans-serif;
    padding: 20px 40px;
    color: white;
    font-weight: normal;

}



.overlay2{
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 100% ease-in-out;
    background: black;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 356px;
    padding-top:80px;
}


.wrapper{
    width: auto;
    margin: 200px 10%;
}




@media screen and (max-width: 768px) {
    nav .logo{
        float: none;
        width: auto;
        justify-content: center;
        font-family: 'Quicksand', sans-serif;
    }

    h1{
        font-family: 'Quicksand', sans-serif;
    }

    .logo{
        font-family: 'Quicksand', sans-serif;
    }
    
    nav .links{
        float: none;
        position: fixed;
        z-index: 9;
        left: 0;
        right: 0;
        background-color: black;
        top: 100px;
        bottom: 100%;
        flex-direction: column;
        width: auto;
        height: auto;
        overflow: hidden;
        transition: all .5s ease-in-out;
    }

    nav .links a{
        font-size: 20px;
    }

    nav .icon-burger{
        display: block;
    }

    nav :checked ~ .links{
        bottom: 0;

    }

    /*slideshow*/

    .slideshow{
        width: 100%;
        height: 350px;
        background-color: rgb(0, 4, 8);
    }

    .slideshow1{
        width: 100%;
        height: 400px;
        background-size: cover;
        background-position: center;
        margin-top: 30px;
        text-align: center;
        padding-top: 40px;
        
    }
    
    .boxread {
        width: 100%;
        height: 200px;
        background-color: black;
        margin-bottom: 70px;
    }
    .boxread p{
        margin-left: auto;
        font-size: 16px;
    
    }
    
    .boxread button{
        margin-left: 40px;
    }

    h8{
        width: 100%;
        height: 150px;
        margin-top: 100px;
        color: black;
        font-family: 'Quicksand', sans-serif;
        padding-top: 40px;
        font-size: 400px;
    }

    
    h10{
        color: white;
        font-size: 40px;
        text-align: center;
        font-family: 'Quicksand', sans-serif;
    }

    h21{
        text-align:left;
        color: #020202;
        font-family: 'Quicksand', sans-serif;
        font-weight: lighter;
        padding-top: 20px;
        font-size: 35px;
        margin-left: 20px;
        margin-top: 50px;
        text-transform: capitalize;
    }

    .about{
        width: 100%;
        height: 250px;
        margin-top: 30px;
    }
    
    .about p{
        color: black;
        text-align: left;
        font-weight: lighter;
        font-family: 'Quicksand', sans-serif;
        font-weight: normal;
        font-size: 25px;
        margin-top: 100px;
    }

    h19{
        color: rgb(253, 253, 253);
        text-transform: capitalize;
        padding: 20px;
        margin-top: 10px;
        font-size: 15px;
    }

    h20{
        color: rgb(253, 253, 253);
        text-transform: capitalize;
        padding: 20px;
        margin-top: 10px;
        font-size: 25px;
        font-family: 'Quicksand', sans-serif;
        font-weight: bold;
    }

    /*about-section*/

    .about{
        width: 100%;
        height: 400px;
        margin-top: 20px;
        padding-bottom: 1px;
    }

    .about p{
        color: black;
        text-align: center;
        font-weight: lighter;
        font-family: 'Quicksand', sans-serif;
    }
    
    h2{
        text-align:left;
        color: #020202;
        font-family: 'Quicksand', sans-serif;
        font-weight: lighter;
        padding-top: 20px;
        font-size: 30px;
        margin-left: 20px;
        text-transform: capitalize;
    }

    h02 {
         
        text-align:left;
        color: #020202;
        font-family: 'Quicksand', sans-serif;
        font-weight: lighter;
        padding-top: 20px;
        font-size: 25px;
        margin-left: 20px;
        text-transform: capitalize;
    
    }

    h30{
        text-align:left;
        color: #020202;
        font-family: 'Quicksand', sans-serif;
        font-weight: lighter;
        padding-top: 20px;
        font-size: 25px;
        margin-left: 20px;
        margin-top: 40px;
        text-transform: capitalize;

    }

    h3{
        width: 100%;
        height: 150px;
        margin-top: 100px;
        color: black;
        font-family: 'Quicksand', sans-serif;
        padding-top: 40px;
        font-size: 40px;
    }

    .about1{
        width: 100%;
        height: 250px;
        margin-top: -90px;
        background-color: rgb(8, 8, 8);
    }

    .boxread1 {
        width: 100%;
        height: 200px;
        background-color: rgb(3, 3, 3);
        margin-bottom: 70px;
    }
    .boxread1 p{
        color: rgb(255, 253, 253);
        margin-left: -30px;
        font-size: 20px;
    
    }

    
    
    

    .overlay{
        position:absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        transition: opacity 100% ease-in;
        background: black;
        color: white;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 248px;
        padding-top:40px;
    }
    
    
    
    

    footer{
        width: 100%;
        height:60px;
        background-color: #39afc4;
        margin-top: 60px;
    }

    /*About-page*/


p{
    text-align: left;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    padding: 20px 40px;
    color: white;
    font-weight: lighter;
}

/*Menu-page*/



.overlay2{
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 100% ease-in;
    background: black;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 214px;
    padding-top:40px;
}

h11{
    padding-top: 30px;
    top:50%;
    left:50%;
    color: white;
    background-color: none;
    transition: opacity(100);
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;

}

h11 a{
    color: white;
}
h11 a:link {
    color:black;
    text-decoration:none;
    background-color: transparent; 
    margin-top:5px; 
    margin-left:auto;
}
h11 a:hover {
    color:#C69C6D;
    text-decoration:none;
}

/*get-involved*/
h5{
    width: 100%;
    height: 150px;
    margin-top: 100px;
    color: black;
    font-family: 'Quicksand', sans-serif;
    padding-top: 40px;
    font-size: 40px;
    margin-left:20px;
}

h5 p{
    color: black;
    margin-left: -30px;
    
}

.about2{
    width: 100%;
    height: 250px;
    background-color: rgb(5, 5, 5);
    margin-top: 150px;
}

.about2 p{
    color: rgb(252, 250, 250);
    font-size: 20px;
}

.about2 button{
    font-size: 16px;
}

.boxread2 {
    width: 100%;
    height: 200px;
    background-color: rgb(2, 2, 2);
    margin-bottom: 70px;
}
.boxread2 p{
    color: rgb(253, 252, 252);
    margin-left: -30px;

}

.boxread2 button{
    margin-left: 10px;
}

.rev-box1{
    width: 100%;
    height: 600px;
    background-color: rgb(0, 0, 0);
}

/*contact-page*/

.about3{
    width: 100%;
    height: 250px;
    background-color: rgb(2, 2, 2);
    margin-top: -110px;
}

.about3 p{
    color: rgb(253, 251, 251);
    font-size: 30px;
    font-family: 'Quicksand', sans-serif;
}

.about4{
    width: 100%;
    height: 450px;
    background-color: rgb(5, 5, 5);
    margin-top: -110px;
}

/*menu-option-page*/

.wrapper{
    width: auto;
    margin: 200px 3%;
}





    
}
    

